
.draw-pannel{
  max-width: 600px;
  height: 400px;
}

/* Some CSS styling */

#mnistapp {
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.predict {
  width: 140px;
  height: 140px;
  /* background-color: rgb(219, 219, 219); */
  padding: 10px;
  border: 2px solid #888;
  border-radius: 4px;
  border-style:dashed;
  margin: auto;
  padding: 0;
}

/* .leftside {
  float: left;
  width: 150px;
  height: 200px;
  margin-left: 10px;
} */

#sketchpad {
  height: 140px;
  width: 140px;
  border: 2px solid #888;
  border-radius: 4px;
  position: relative;
  background-color: black;
  /* Necessary for correct mouse co-ords in Firefox */
}

#clearbutton,#predictbutton,#downloadButton  {
  border: 3px solid #595959;
}

a:hover {
  color: white;
  text-decoration:none; 
  cursor:pointer;  
}

  @font-face {
    font-family: 'DFHsiu-W3-WIN-BF';
    src: url(./DFHsiu-W3-WIN-BF.woff) format('woff');
}
.content h1 {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 8px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
}
.note-text.exblue {
  font-size: 28px;
  font-family: "DFHsiu-W3-WIN-BF";
  margin-top: 13px;
  margin-left: 26px;
  padding-bottom: 0px;
  padding-left: 36px;
  float: left;
  background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e3bfe3392f3d069000167_arrow-blue-leftz.png);
  background-position: 0px 38%;
  background-size: 38px;
  background-repeat: no-repeat;
  color: #4c9efc;
  margin: auto;
}

  .note-text.expink {
    font-size: 20px;
    font-family: "DFHsiu-W3-WIN-BF";
    padding-right: 47px;
    background-image: url(https://i.imgur.com/I0iCnwv.png);
    background-position: 90% 100%;
    background-size: 36px;
    background-repeat: no-repeat;
    color: #e83174;
    }
  
    .note-text.expink2 {
      margin-top: 3px;
    font-size: 20px;
    font-family: "DFHsiu-W3-WIN-BF";
    background-image: url(https://i.imgur.com/FwHWCgu.png);
    background-position: 40px 38%;
    background-size: 36px;
    background-repeat: no-repeat;
    color: #e83174;
      }
    