:root {
  /* colors */
  --pink: #dba3ff;
  --red: #ff6c4f;
  --yellow: #ffdc68;
  --dark-yellow: #ffcb41;
  --green: #61d8a2;
  --white: #fff;
  --light-blue: #ccebff;
  --blue: #4ec5c3;
  --dark-blue: #6d6cf1;
  --dark-orange: #e18f13;
  --orange: #ffcf2f;
  --dark-grey: #989898;
  --grey: #d5d6d7;
  --light-grey: #eaeaea;
  --brown: #cb8f0b;
  --light-green: #75d781;
  
  /* sizes */
  --extra-bigSize: 50px;
  --medium-bigSize: 34px;
  --bigSize: 24px;
  --mediumSize: 12px;
  --smallSize: 6px;
  --extra-smallSize: 4px;
  
}

/* general styles */
* {
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
 } */

/* phone composition */
.phone {
  background-color: #81b1da;
  max-width: 215px;
  width: 100%;
  height: 360px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.sound {
  max-width: 85px;
  width: 100%;
  height: 10px;
  border-radius: 55px;
  background-color: #e4eaed;
  margin: 15px 0;
}

.screen {
  flex: 1;
  border-radius: 2px;
  width: 100%;
  max-width: 170px;
  height: 270px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  border: 4px solid #e4eaed;
  height: 30px;
  max-width: 30px;
  width: 100%;
  border-radius: 50%;
  margin: 8px 0 10px;
}

/* colors */
.pink {
  background-color: var(--pink);
}

.red {
  background-color: var(--red);
}

.yellow {
  background-color: var(--yellow);
}

.dark-yellow {
  background-color: var(--dark-yellow);
  border: 3px solid var(--white);
}

.brown {
  background-color: var(--brown);    
}

.light-green {
  background-color: var(--light-green);  
}

.green {
  background-color: var(--green);
}

.light-blue {
  background-color: var(--light-blue);
}

.blue {
  background-color: var(--blue);
}

.dark-blue {
  background-color: var(--dark-blue);
}

.dark-orange {
  background-color: var(--dark-orange);
}

.orange {
  background-color: var(--orange);
}

.white {
  background-color: var(--white);
}

.dark-grey {
  background-color: var(--dark-grey);
}

.light-grey {
  background-color: var(--light-grey);
}

.grey {
  background-color: var(--grey);
}

/* sizes */
.extra-big {
  height: var(--extra-bigSize);
  width: var(--extra-bigSize);
}

.medium-big {
  height: var(--medium-bigSize);
  width: var(--medium-bigSize);
}

.big {
  height: var(--bigSize);
  width: var(--bigSize);
}

.medium {
  height: var(--mediumSize);
  width: var(--mediumSize);
}

.small {
  height: var(--smallSize);
  width: var(--smallSize); 
}

.extra-small {
  height: var(--extra-smallSize);
  width: var(--extra-smallSize);
}

/* ball composition */
.ball {
  border-radius: 50%;
  position: absolute;
}

.ball.first {
  top: 15px;
  left: 15px;
}

.ball.second { 
  top: 8px;
  left: 46px;
}

.ball.third {
  top: 3px; 
  left: 94px;
}

.ball.fourth {
  top: 46px;
  left: 60px;
}

.ball.fifth {
  top: 30px;
  left: 66px;
}

.ball.sixth {
  top: 32px;
  left: 116px;
}

.ball.seventh {
  top: 26px;  
  left: 136px;
}

.ball.eighth {
  top: 14px;
  left: 154px;
}

.ball.ninth {
  top: 60px;
  left: 26px;
}

.ball.tenth {
  top: 50px;
  left: 90px;
}

.ball.eleventh {
  top: 54px;
  left: 138px;
}

.ball.twelfth {
  top: 50px;
  left: 152px;
}

.ball.thirteenth {
  top: 72px;
  left: 54px;
}

.ball.fourteenth {
  top: 78px;
  left: 150px;
}

.ball.fifteenth {
  bottom: 72px;
  left: 14px;
}

.ball.sixteenth {
  bottom: 62px;
  left: 66px;
}

.ball.seventeenth {
  bottom: 44px;
  left: 86px;
}

.ball.eighteenth {
  bottom: 26px;
  left: 106px;
}

.ball.nineteenth {
  bottom: 86px;
  left: 150px;
}

.ball.twentieth {
  bottom: 44px;
  left: 54px;
}

.ball.twenty-first {
  bottom: 52px;
  left: 132px;
}

.ball.twenty-second {
  bottom: 24px;
  left: 66px;
}

.ball.twenty-third {
  bottom: 14px;
  left: 26px;
}

.ball.twenty-fourth {
  bottom: 24px;
  left: 136px;
}

/* center composition */
.center-composition {
  width: 110px;
  height: 110px;
  position: relative;
}

.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-element:nth-child(1) {
  margin-left: -55px;
  margin-top: -55px;  
}

.center-element:nth-child(2) {
  margin-left: -48px;
  margin-top: -48px;  
}

.center-element:nth-child(3) {
  margin-left: -41px;
  margin-top: -41px;  
}

.center-element:nth-child(4) {
  margin-left: -25px;
  margin-top: -25px;
  transform: none;
}

.center-element:nth-child(5) {
  transform: translateX(-50%) translateY(-50%);
}

.vertical {
  height: 12px;
  width: 62px;  
}

.horizontal {
  width: 12px;
  height: 62px;
}

/* squar elements */
.square.first {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.square.second {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.square.third {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  position: absolute;
}

.square.fourth {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  position: absolute;
}

/* dashed elements */
.dashed {
  border: 1px dashed #000;
}

.dashed.big {
  width: 100%;
  height: 100%;
}

.dashed.medium {
  width: 88%;
  height: 88%;
}

.dashed.small {
  width: 75%;
  height: 75%;
}

.opacity-03 {
  opacity: 0.3;
}

.opacity-05 {
  opacity: 0.5;
}

/* left icons */
.icons-left {
  width: 326px;
  height: 360px;
  /* margin-right: -56px; */
  margin-left: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.vertical-align {
  display: flex;
  align-items: center;  
}

.icon-clock {
  height: 54px;
  width: 100%;
  margin-top: 5px;
}

.icon-clock > .ball,
.icon-sun > .ball,
.icon-marker > .ball {
  position: relative;
}

.icon-clock .clock {
  height: calc(var(--extra-bigSize) + 4px);
  width: calc(var(--extra-bigSize) + 4px);
  position: relative;
  margin-right: 20px;
  opacity: 1;
}

.icon-clock .clock:before,
.icon-clock .clock:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: var(--white);
  left: 50%;
}

.icon-clock .clock:before {
  top: 14px;  
  margin-left: -1px;
}

.icon-clock .clock:after {
  top: 26px;
  width: 16px;
  transform: rotate(35deg);
  transform-origin: left;
  margin-left: 0;
  height: 2px;
  animation: rotateMinutes 330ms linear 530ms;
  animation-fill-mode: both;
}

.icon-clock .clock.start:after {
  animation: runningRotateMinutes 6000ms linear infinite;  
}

.icon-clock .dashed-pink {
  width: 210px;
  border: 1px dashed var(--pink);
  margin-left: 10px;
  position: relative;
  animation: pinkScale 1200ms cubic-bezier(0, 1, 0.25, 1) 830ms;
  animation-fill-mode: both;
}

.icon-clock .dashed-pink .extra-small {
  left: 42px;
  bottom: -10px
}

.icon-clock .dashed-pink .small {
  left: 130px;
  bottom: 8px
}

.icon-clock .arrow {
  width: 12px;
  height: 2px;
  margin-left: 4px;
  position: relative;
}

.icon-clock .arrow:before,
.icon-clock .arrow:after {
  content: '';
  width: 2px;
  height: 8px;
  background-color: var(--pink);
  position: absolute;
  right: 0px;
}

.icon-clock .arrow:before {
  transform: rotate(-55deg);
  bottom: -1px;
}

.icon-clock .arrow:after {
  transform: rotate(55deg);
  top: -1px;
}

.icon-sun {
  height: 120px;
  width: 230px;
  padding-right: 10px;
}

.sun-cloud {
  width: 76px;
  height: 76px;
  position: relative;
  margin-right: 15px;
}

.sun {
  width: calc(var(--extra-bigSize) + 6px);
  height: calc(var(--extra-bigSize) + 6px);
  position: relative;
  margin-right: 20px;
}

.sun:after {
  content: '';
  width: calc(var(--extra-bigSize) - 14px);
  height: calc(var(--extra-bigSize) - 14px); 
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  z-index: 99;
}

.sun-lines.first {
  height: 100%;
  width: 4px;
  top: 0;
  margin-left: -2px;
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  left: 50%;
}

.sun-lines.second {
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
  margin-top: -2px;
  border-radius: 4px;
  position: absolute;
  z-index: -1;
}

.sun-lines.third {
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
  margin-top: -2px;
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  transform: rotate(45deg);
}

.sun-lines.fourth {
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
  margin-top: -2px;
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  transform: rotate(-45deg);
}

.cloud {
  width: 76px;
  height: 54px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.cloud:after {
  background-color: var(--light-blue);
  width: 40px;
  height: 20px;
  border-bottom: 4px solid var(--white);
  content: '';
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.cloud:before {
  background-color: var(--light-blue);
  width: 49px;
  height: 14px;
  content: '';
  position: absolute;
  top: 18px;
  left: 17px;
  z-index: 90;
  border-radius: 20px;
}

.cloud-element {
  position: absolute;
  border: 4px solid var(--white);
}

.cloud-element.first {
  width: 40px;
  height: 40px;
  bottom: 0;
  left: 0;
  top: auto;
}

.cloud-element.second {
  width: 40px;
  height: 40px;
  left: 22px;
  top: 0;
}

.cloud-element.third {
  width: 26px;
  height: 26px;
  left: auto;
  right: 6px;
  top: 11px;
}

.cloud-element.second:after {
  content: '';
  position: absolute;
  background-color: var(--light-blue);
  width: 32px;
  height: 34px;
  border-radius: 50%;
  z-index: 99;
}

.cloud-element.fourth {
  width: 30px;
  height: 30px;
  left: auto;
  right: 0px;
  top: auto;
  bottom: 0;
}

.icon-sun .dashed-yellow {
  width: 85px;
  border: 1px dashed var(--yellow);
  margin-left: 10px;
  position: relative;
  animation: pinkYellow 1200ms cubic-bezier(0, 1, 0.25, 1) 930ms;
  animation-fill-mode: both;
}

.icon-sun .dashed-yellow .extra-small {
    left: 25px;
    bottom: 6px;
}

.icon-sun .dashed-yellow .small {
    left: 42px;
    bottom: -12px;
}

.icon-sun .arrow {
  width: 12px;
  height: 2px;
  margin-left: 4px;
  position: relative;
}

.icon-sun .arrow:before,
.icon-sun .arrow:after {
  content: '';
  width: 2px;
  height: 8px;
  background-color: var(--yellow);
  position: absolute;
  right: 0px;
}

.icon-sun .arrow:before {
  transform: rotate(-55deg);
  bottom: -1px;
}

.icon-sun .arrow:after {
    transform: rotate(55deg);
    top: -1px;
}

.icon-marker {
  height: 62px;
  width: 318px;
}

.marker {
  height: 62px;  
  width: 42px;
  position: relative;
  margin-right: 26px;
}

.marker .top {
  width: calc(var(--bigSize) + 18px);
  height: calc(var(--bigSize) + 18px);
}

.marker .top:after {
  content: '';
  position: absolute;
  top: 12px;
  width: 18px;
  height: 18px;
  background-color: var(--white);
  border-radius: 50%;
  left: 50%;
  margin-left: -9px;
} 

.marker .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 36px;
  z-index: -1;
}

.marker .bottom:after {
  content: '';
  position: absolute;
  border-radius: 8px 0 0 0;
  left: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 21px 36px 0;
  border-color: transparent var(--red) transparent transparent;
}

.marker .bottom:before {
  content: '';
  position: absolute;
  border-radius: 0 8px 0 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 36px 21px 0 0;
  border-color: var(--red) transparent transparent transparent;
}

.icon-marker > .ball {
  position: relative;
}

.icon-marker .dashed-red {
  width: 208px;
  border: 1px dashed var(--red);
  margin-left: 10px;
  position: relative;
  animation: pinkRed 1200ms cubic-bezier(0, 1, 0.25, 1) 1030ms;
  animation-fill-mode: both;
}

.icon-marker .dashed-red .small {
    left: 40px;
    bottom: 6px;
}

.icon-marker .dashed-red .ball:nth-child(2) {
  left: 100px;
  bottom: -14px;
}

.icon-marker .dashed-red .ball:nth-child(3) {
  left: 132px;
  bottom: 8px;
}

.icon-marker .arrow {
  width: 12px;
  height: 2px;
  margin-left: 4px;
  position: relative;
}

.icon-marker .arrow:before,
.icon-marker .arrow:after {
  content: '';
  width: 2px;
  height: 8px;
  background-color: var(--red);
  position: absolute;
  right: 0px;
}

.icon-marker .arrow:before {
  transform: rotate(-55deg);
  bottom: -1px;
}

.icon-marker .arrow:after {
    transform: rotate(55deg);
    top: -1px;
}

.icons-right {
  width: 252px;
  height: 360px;
  position: relative;
}

.hamburger {
  top: 26px;
  position: absolute;
  left: 134px;
  height: 30px;
  width: 44px;
}

.hamburger-top {
  width: 40px;
  border-radius: 20px 20px 0 0;
  height: 14px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
}

.hamburger-middle {
  width: 100%;
  height: 10px;
  border: 2px solid #fff;
  top: 14px;
  border-radius: 20px;
  position: absolute;
}

.hamburger-bottom {
  width: 40px;
  border-radius: 0 0 20px 20px ;
  height: 6px;
  left: 50%;
  bottom: 0;
  margin-left: -20px;
  position: absolute;
}

.pointer {
  width: 2px;
  height: 2px;
}

.pointer:first-child {
  left: 14px;
  top: 4px;
}

.pointer:nth-child(2) {
  right: 14px;
  top: 4px;
}

.pointer:nth-child(3) {
  left: 9px;
  top: 6px;
}

.pointer:nth-child(4) {
  left: 19px;
  top: 6px;
}

.pointer:nth-child(5) {
  right: 9px;
  top: 6px;
}

.tower {
  width: 36px;
  height: 34px;
  top: 76px;
  left: 38px;
  position: absolute;

}

.tower-top {
  height: 12px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--dark-grey);
  position: absolute;
}

.tower-top:before {
  content: '';
  position: absolute;
  background-color: transparent;
  height: 7px;
  width: 6px;
  border-radius: 50%;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #fff;;
  bottom: -3px;
  right: 4px;
  z-index: 99;
} 

.tower-top:after {
  content: '';
  position: absolute;
  background-color: transparent;
  height: 7px;
  width: 6px;
  border-radius: 50%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  bottom: -3px;
  left: 4px;
  z-index: 99;
} 

.tower-bottom {
  background-color: var(--grey);
  width: 16px;
  height: 22px;
  bottom: 0;
  left: 50%;
  border-top: 2px solid var(--white);
  margin-left: -8px;
  position: absolute;
}

.tower-bottom:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: var(--white);
  left: 50%;
  margin-left: -2px;
}

.tower-bottom:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 4px;
  background-color: var(--grey);
  top: -7px;
  left: 50%;
  border-top: 1px solid var(--white);
  margin-left: -6px;
}

.tree {
  width: 46px;
  height: 52px;
  position: absolute;
  left: 146px;
  top: 98px;
}

.tree-top {
  width: 100%;
  height: 10px;
  margin-top: 10px;
  border-radius: 20px;
  position: relative;
}

.tree-top:after {
  content: '';
  width: 18px;
  left: 50%;
  height: 8px;
  position: absolute;
  background-color: var(--light-green);
  margin-left: -9px;
  top: -10px;
  border-radius: 20px 20px 0 0;
}

.tree-top:before {
  content: '';
  width: 34px;
  left: 50%;
  height: 7px;
  position: absolute;
  background-color: var(--light-green);
  margin-left: -16px;
  bottom: 8px;
  border-radius: 20px 20px 0 0;
}

.tree-bottom {
  height: 32px;
  width: 4px;
  margin: 0 auto;  
  position: relative;
}

.tree-bottom:before {
  background-color: var(--light-green);
  content: '';
  position: absolute;
  width: 2px;
  height: 13px;
  transform: rotate(-50deg);
  top: -3px;
  transform-origin: top;
  left: -11px;
  border-bottom: 1px solid var(--brown);
}

.tree-bottom:after {
  background-color: var(--light-green);
  content: '';
  position: absolute;
  width: 2px;
  height: 13px;
  transform: rotate(50deg);
  top: -3px;
  transform-origin: top;
  right: -11px;
  border-bottom: 1px solid var(--brown);
}

.tree.small {
  transform: scale(0.5);
  left: 172px;
  top: 110px;
}

.boat {
  width: 50px;
  height: 52px;
  position: absolute;
  left: 90px;
  top: 162px;
}

.boat-icon {
  width: 36px;
  height: 10px;
  border-radius: 2px 2px 18px 18px;
  margin: 24px auto 0;
  position: relative;
}

.boat-sail {
  width: 2px;
  height: 24px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -1px;
}

.boat-sail:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--dark-blue);
  bottom: 6px;
}

.boat-sail:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 0 12px;
  border-color: transparent transparent transparent var(--dark-blue);
  left: 2px;
  bottom: 8px;
}

.sea-icon {
  height: 18px;
  position: relative;
  display: flex;
}

.sea-line {
  margin-top: 4px;
  border-radius: 0px 0px 6px 6px;
  width: 12px;
  height: 8px;
  border-top: 2px solid transparent;
  border-right: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  border-left: 2px solid transparent;
}

.sea-line.middle {
  border-left: 2px solid var(--blue);
}

.sea-line.last {
  border-left: 2px solid var(--blue);
  border-right: 2px solid transparent;
}

.sea-icon:last-child .sea-line {
  margin-top: -5px;
}

.notification {
  width: 178px;
  height: 54px;
  border-radius: 8px;
  position: absolute;
  top: 260px;
  left: 68px;
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.top-notification {
  width: 100%;
  height: 16px;
  display: flex;
  align-items: center;
}

.icon-notification {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  margin-right: 12px;
}

.title-notification {
  height: 8px;
  width: 62px;
  border-radius: 4px;
}

.bottom-notification {
  height: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-notification .message {
  width: 100%;
  height: 6px;
  border-radius: 2px;
}

.scale-animation {
  animation: scale 650ms cubic-bezier(0, 1.3, 0.2, 1.25);
  animation-fill-mode: both;
}

.reverse-scale-animation {
  animation: reverseScale 650ms cubic-bezier(0, 1.3, 0.2, 1.25);
  animation-fill-mode: both;
}

.phone-scale-animation {
  animation: phoneScale 600ms cubic-bezier(0, 0.86, 0.25, 1);
  animation-fill-mode: both;
}

.sun-animation {
  animation: sunAnimation 740ms cubic-bezier(0, 1, 0.65, 1);
  animation-fill-mode: both;
}

.sun.start {
  animation: runningRotate 6000ms linear infinite;
  animation-fill-mode: both;
}

.cloud-animation {
  animation: cloudAnimation 860ms cubic-bezier(0, 1, 0.25, 1);
  animation-fill-mode: both;
}

.marker-animation {
  animation: markerAnimation 760ms cubic-bezier(0, 1, 0.25, 1.65);
  animation-fill-mode: both;
}

.marker-animation2 {
  animation: markerAnimation 860ms cubic-bezier(0, 1, 0.25, 1.65);
  animation-fill-mode: both;
}

.marker.start {
  animation: runningMarkerAnimation 2300ms linear infinite;
  animation-fill-mode: both;
  transform-origin: bottom;
}

.start .rotate {
  animation: rotate 2130ms linear infinite;
  animation-fill-mode: both;
}

.opacity {
  animation: opacity 630ms linear;
  animation-fill-mode: both;
}

.delay-230 {
  animation-delay: 230ms;
}

.delay-330 {
  animation-delay: 330ms;
}

.delay-430 {
  animation-delay: 430ms;
}

.delay-530 {
  animation-delay: 530ms;
}

.delay-630 {
  animation-delay: 630ms;
}

.delay-660 {
  animation-delay: 660ms;
}

.delay-690 {
  animation-delay: 690ms;
}

.delay-730 {
  animation-delay: 730ms;
}

.delay-760 {
  animation-delay: 760ms;
}

.delay-790 {
  animation-delay: 790ms;
}

.delay-830 {
  animation-delay: 830ms;
}

.delay-860 {
  animation-delay: 860ms;
}

.delay-890 {
  animation-delay: 890ms;
}

.delay-930 {
  animation-delay: 930ms;
}

.delay-960 {
  animation-delay: 960ms;
}

.delay-990 {
  animation-delay: 990ms;
}

.delay-1030 {
  animation-delay: 1030ms;
}

.delay-1130 {
  animation-delay: 1130ms;
}

.delay-1230 {
  animation-delay: 1230ms;
}

@keyframes scale {
  0% {
    transform: scale(0.3) translateZ(0);
    opacity: 0;
  }
  
  60% {
    opacity: 1;
  }
  
  100% {
    transform: scale(1) translateZ(0);
  }
}

@keyframes reverseScale {
  0% {
    transform: scale(1.3) translateZ(0);
    opacity: 0;
  }
  
  60% {
    opacity: 1;
  }
  
  100% {
    transform: scale(1) translateZ(0);
  }
}

@keyframes phoneScale {
  0% {
    transform: scale(0.3) translateZ(0) translateY(470px);
    opacity: 0;
  }
  
  70% {
    opacity: 1;
  }
  
  100% {
    transform: scale(1) translateZ(0) translateY(0);
  }
}

@keyframes sunAnimation {
  0% {
    transform: translateX(6px) translateY(12px) translateZ(0);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0) translateY(0) translateZ(0);
  }
}

@keyframes cloudAnimation {
  0% {
    transform: translateX(18px) translateY(0) translateZ(0);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0) translateY(0) translateZ(0);
  }
}

@keyframes markerAnimation {
  0% {
    transform: translateX(0) translateY(-18px) translateZ(0);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0) translateY(0) translateZ(0);
  }
}

@keyframes runningMarkerAnimation {
  0% {
    transform: translateY(0) translateZ(0);
  }
  
  25% {
    transform: translateY(-3px) translateZ(0);
  }
  
  50% {
    transform: translateY(0) translateZ(0);
  }
  
  75% {
    transform: translateY(3px) translateZ(0);
  }
  
  100% {
    transform: rotate(0) translateZ(0);
  }
}

@keyframes rotateMinutes {
  0% {
    transform: rotate(5deg) translateZ(0);
  }
  
  100% {
    transform: rotate(35deg) translateZ(0);
  }
}

@keyframes runningRotateMinutes {
  0% {
    transform: rotate(35deg) translateZ(0);
  }
  
  100% {
    transform: rotate(395deg) translateZ(0);
  }
}

@keyframes runningRotate {
  0% {
    transform: rotate(0deg) translateZ(0);
  }
  
  100% {
    transform: rotate(360deg) translateZ(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)  translateZ(0);
  }
  
  100% {
    transform: rotate(360deg) translateZ(0);
  }
}

@keyframes opacity {
  0% {
    opacity:0 ;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes pinkScale {
  0% {
    width: 0;
    opacity: 0;
  }
  
  20% {
    opacity: 1;
  }
  
  100% {
    width: 210px;
  }
}

@keyframes pinkYellow {
  0% {
    width: 0;
    opacity: 0;
  }
  
  20% {
    opacity: 1;
  }
  
  100% {
    width: 85px;
  }
}

@keyframes pinkRed {
  0% {
    width: 0;
    opacity: 0;
  }
  
  20% {
    opacity: 1;
  }
  
  100% {
    width: 208px;
  }
}


.section-amimate{
  background: rgba(0, 68, 124, 0.226);
}