%main.container
	- (1..40).each do |i|
		%span.particle 4
	
	- (1..40).each do |i|
		%span.particle 0
		
	%article.content
		%p Damnit stranger,
		%p You got lost in the <strong>404</strong> galaxy.
		%p
			%button Go back to earth.